html {box-sizing: border-box;}
* {margin: 0; padding: 0; box-sizing: inherit; }

h1 {
    font-size: 32px;
    text-align: left;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    text-align: left;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

body {
    background-image: url(../kepek/hatter.jpg);
    background-size: cover; 
    background-repeat: no-repeat;   
    /* background-size: auto; */
    background-attachment: fixed;    
    background-position: bottom;
    font-family:"Inter", sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 14px;
    /* background-color: #fff; */
}

header{
    background-image: url(../kepek/fejlec.png);
    background-size: cover;
    background-position: right ;
    border-bottom: 4px solid red;
    padding: 20px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    margin: 0 auto;
    width: 180px;
    height: 54px;
}

#aktív {
    background-color: #999;
    color: white;
}

header nav{
    margin:  auto;
    display: flex;
    flex-flow: column ;
    justify-content: space-around;
    /* height: 180px; */
    width: 80%;
    
}

header a {
    margin: 5px 0 ;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #444;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 3px;
}

header a:hover{
    background-color: red;
}

.tartalom{
    text-align: justify;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    border: #444 solid 2px;
    border-radius: 15px;
}

.tartalom  article{
    background-color: rgba(111, 111, 111, 0.7); /* rgba(248, 189, 182, 0.9); */
    padding: 15px;
    border: #666 solid 3px;
    border-radius: 15px;
    
}

.tartalom h2 {
    line-height: 1.4;   
    margin-bottom: 17px;
    border-bottom: 3px solid red ;
    font-weight: bold;
}

.tartalom section {

    margin-bottom: 10px;
    color: black;
}

#cikkek img{
    width: 100%;
    border-radius: 15px;
    border: 2px solid ;
    max-width: 500px;
}

#cikkek article{
    margin: 20px 0;
}

#cikkek section {
    text-indent: 1.5rem;
}

#csapatok{
    display: flex;
    flex-flow: column  wrap;
    justify-content: space-evenly;
    gap: 20px;
}

#csapatok article{
    position: relative;
}

#csapatok h2{
    margin-right: 70px;
}

#csapatok img{
    position: absolute;
    top: 15px;
    right: 15px;      
    width: 50px;       
    height: auto;
}

/* .notyet{
    position: relative;
}

.jövőre{
    position: absolute;
    background-color: red;
    color: white;
    padding: 0;
    right: 2rem;
    top: 10px;
}  */

@media (min-width: 45em){
    * {
        font-size: 17px;
    }

    h1 {
        font-size: 40px;
    }   

    h2 {
        font-size: 24px;
    }


    header{
        position: sticky;
        top: 0;
        height: 140px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    .navigation{
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
        width: 620px;
    }

    .navigation a {
        min-width: 130px;
        padding: 3px;
        font-size: 20px; 
    }

    .sidetoside{
        display: flex;
        gap: 5px;
        align-items: flex-start;
    }

    
    #cikkek{
        flex: 3;
        margin-right: 0px;
    }

    aside {
        position:sticky;
        /* flex: 2; */
        top: 150px;
        /* width: 7000px; */
        /* minwidth: 300px; */
    }

    #csapatok{
        flex-flow: row wrap;
        gap: 30px;
        justify-content: space-between;
    }

    #csapatok article{
        flex: 1 1 calc(50% - 20px);
    }
}

@media (min-width: 75em){
    #csapatok article{
        flex: 1 1 calc(33% - 20px);
    }
}